# =========================
# Editor / Sistema
# =========================
.vscode/
.DS_Store
Thumbs.db

# =========================
# Arquivos temporários
# =========================
*.log
*.tmp

# =========================
# Build / minificados (opcional)
# =========================
*.min.css
*.min.js
